<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/estatics/style.css">

        

    </head>
    
    <body class="body">
        <h1 id="h1">PROYECTO POO</h1>
        <form method="post" action="/probar">
       <table border="4px" id="tabla" align="center" >
        <tr>
           
            <td id="cajon"><input type="text"id="cajon1" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon2" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon3" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon4" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon5" maxlength="1"></td>
        </tr>
        <tr>
            <td id="cajon"><input type="text"id="cajon1" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon2" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon3" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon4" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon5" maxlength="1"></td>
        </tr>
        <tr>
            <td id="cajon"><input type="text"id="cajon1" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon2" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon3" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon4" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon5" maxlength="1"></td>
        </tr>
        <tr>
            <td id="cajon"><input type="text"id="cajon1" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon2" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon3" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon4" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon5" maxlength="1"></td>
        </tr>
        <tr>
            <td id="cajon"><input type="text"id="cajon1" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon2" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon3" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon4" maxlength="1"></td>
            <td id="cajon"><input type="text"id="cajon5" maxlength="1"></td>
        </tr>
       </table>
       <button class="boton" >probar</button>
       </form>
    </body>
</html>